[package]
name = "hedwig"
version = "0.6.0"
authors = [
    "Aniruddha Maru <aniruddhamaru@gmail.com>",
    "Simonas Kazlauskas <hedwig@kazlauskas.me>"
]
edition = "2018"
repository = "https://github.com/standard-ai/hedwig-rust.git"
homepage = "https://github.com/standard-ai/hedwig-rust"
readme = "README.md"
description = "A simple message bus for Rust"
license = "Apache-2.0"
keywords = ["pubsub", "messagebus", "microservices"]
categories = ["asynchronous", "web-programming"]

[badges]
travis-ci = { repository = "standard-ai/hedwig-rust" }
maintenance = { status = "actively-developed" }

[features]
default = []
google = ["base64", "google-pubsub1", "yup-oauth2"]
mock = []

[[example]]
name = "publish"
required-features = ["google"]

[dependencies]
base64 = { version = "^0.10", optional = true }
thiserror = "1"
google-pubsub1 = { version = "^1.0.8", optional = true }
# This project intentionally uses an old version of Hyper. See
# https://github.com/Byron/google-apis-rs/issues/173 for more
# information.
hyper = "^0.10"
hyper-rustls = "^0.6"
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
url = "^1.7"
uuid = { version = "^0.7", features = ["serde", "v4"] }
valico = { version = "^3.1" }
yup-oauth2 = { version = "^1.0", optional = true }

[dev-dependencies]
assert_matches = "^1.3"
rust-embed="^4.3"
strum = "^0.15"
strum_macros = "^0.15"

[package.metadata.docs.rs]
all-features = true
