name: Test hedwig

on:
  push:
    paths-ignore:
    - '*.md'
    - 'LICENSE'
    branches:
    - master
  pull_request:
    types: [opened, repoened, synchronize]

jobs:
  native-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        rust_toolchain: [nightly, stable, 1.40.0]
        os: [ubuntu-latest, windows-latest, macOS-latest]
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2
      - name: Install Rust ${{ matrix.rust_toolchain }}
        uses: actions-rs/toolchain@v1
        with:
            toolchain: ${{ matrix.rust_toolchain }}
            profile: minimal
            components: clippy
            default: true
      - name: Update
        uses: actions-rs/cargo@v1
        with:
          command: update
          args: --manifest-path=Cargo.toml
      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
      - name: Doc
        uses: actions-rs/cargo@v1
        with:
          command: doc
      - name: Build without features
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --no-default-features --manifest-path=Cargo.toml
      - name: Build with `google` feature
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --manifest-path=Cargo.toml --features=google
      - name: Test with all features
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path=Cargo.toml --all-features -- --nocapture
